<!DOCTYPE html>
<html>
    <head>
        <title>MyOnlineTrades - {% block title %}{% endblock %}</title>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <link type="text/css" rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
